*{font-family:Arial, Helvetica, sans-serif, Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
}
body{
    background-color: rgb(181, 143, 188);
}
main{
    background-color: rgb(248, 247, 248): 
    width: 500px;
    box-shadow
    
    }