*{font-family:Arial, Helvetica, sans-serif, Calibri, 'Trebuchet MS', sans-serif;
font-size: 24px;
}
body{
    background-color: rgb(rgb(153, 207, 150), green, blue);
}
main{
    background-color: rgb(124, 196, 154): 
    width: 1000px;
    margin: 10px 50px 20px 0;
    box-shadow:3px 3px 5px bla    
    }